
@charset "UTF-8";
@import './header.scss';   //头部
@import './homeLeft.scss';  //导航左侧
@import './fpage.scss';    //首页
@import './login.scss';    //登陆
@import './baseManage.scss';  //企业管理-基站管理
@import './spam.scss';  //企业管理-留言管理
@import './enterMation.scss'; //企业管理-企业信息
@import './historyData.scss'; //数据查看-历史数据
@import './resManage.scss';   //内容管理下的资源管理
@import './newsManage.scss';  //内容管理下的新闻管理
@import './addRact.scss';   //运维管理下-添加运维合同
@import './addPeop.scss';  //运维管理下 -添加运维人员
@import './addRecods.scss'; //运维管理下 -运维记录
@import './opetract.scss'; //运维管理下 -运维合同
@import './opeopleDep.scss'; //运维管理下 -运维人员管理
@import './addTwo.scss'; //运维管理下 - 运维部门添加
@import './operaDep.scss'; //运维管理下 - 运维部门管理
@import './userManage.scss'; //权限管理下 - 用户管理
@import './roleManage.scss'; //权限管理下 - 角色管理
@import './stopRep.scss';  //停运报告模板
@import './element.scss';   //elment-ui     全局scss

@media (min-width: 1900px) {
   
    @include header-xl();
    @include homeLeft-xl();
    @include fpage-xl();
    @include login-xl();
    @include baseManage-xl();
    @include spam-xl();
    @include enterMation-xl();
    @include historyData-xl();
    @include resManage-xl();
    @include newsManage-xl();
    @include addRact-xl();
    @include addPeop-xl();
    @include addRecods-xl();
    @include opetract-xl();
    @include opeopleDep-xl();
    @include addTwo-xl();
    @include operaDep-xl();
    @include userManage-xl();
    @include roleManage-xl();
    @include element-xl();
    @include stopRep-xl();
}
@media (min-width: 1600px) and (max-width: 1899px) {
    @include header-lg();
    @include homeLeft-lg();
    @include fpage-lg();
    @include login-lg();
    @include baseManage-lg();
    @include spam-lg();
    @include enterMation-lg();
    @include historyData-lg();
    @include resManage-lg();
    @include newsManage-lg();
    @include addRact-lg();
    @include addPeop-lg();
    @include addRecods-lg();
    @include opetract-lg();
    @include opeopleDep-lg();
    @include addTwo-lg();
    @include operaDep-lg();
    @include userManage-lg();
    @include roleManage-lg();
    @include element-lg();
    @include stopRep-lg();
};
@media (min-width: 1400px) and (max-width: 1599px) {
    @include header-md();
    @include homeLeft-md();
    @include fpage-md();
    @include login-md();
    @include baseManage-md();
    @include spam-md();
    @include enterMation-md();
    @include historyData-md();
    @include resManage-md();
    @include newsManage-md();
    @include addRact-md();
    @include addPeop-md();
    @include addRecods-md();
    @include opetract-md();
    @include opeopleDep-md();
    @include addTwo-md();
    @include operaDep-md();
    @include userManage-md();
    @include roleManage-md();
    @include element-md();
    @include stopRep-md();
}
@media (min-width: 1200px) and (max-width: 1399px) {
    @include header-sm();
    @include homeLeft-sm();
    @include fpage-sm();
    @include login-sm();
    @include baseManage-sm();
    @include spam-sm();
    @include enterMation-sm();
    @include historyData-sm();
    @include resManage-sm();
    @include newsManage-sm();
    @include addRact-sm();
    @include addPeop-sm();
    @include addRecods-sm();
    @include opetract-sm();
    @include opeopleDep-sm();
    @include addTwo-sm();
    @include operaDep-sm();
    @include userManage-sm();
    @include roleManage-sm();
    @include element-sm();
    @include stopRep-sm();
}