/*首页*/

@charset "UTF-8";

@mixin operaDep-xl() {
    .operAdd{
        /deep/ .el-dialog {
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: calc(50% + 120px);
            transform: translate(-50%, -50%);
            width: 34%;
        }
    }
    .operEditor{
        /deep/ .el-dialog {
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: calc(50% + 120px);
            transform: translate(-50%, -50%);
            width: 34%;
        }
    }
};
@mixin operaDep-lg() {
    .operAdd{
        /deep/ .el-dialog {
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: calc(50% + 120px);
            transform: translate(-50%, -50%);
            width: 36%;
        }
    }
    .operEditor{
        /deep/ .el-dialog {
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: calc(50% + 120px);
            transform: translate(-50%, -50%);
            width: 36%;
        }
    }
};
@mixin operaDep-md() {
    .operAdd{
        /deep/ .el-dialog {
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: calc(50% + 120px);
            transform: translate(-50%, -50%);
            width: 38%;
        }
    }
    .operEditor{
        /deep/ .el-dialog {
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: calc(50% + 120px);
            transform: translate(-50%, -50%);
            width: 38%;
        }
    } 
};
@mixin operaDep-sm() {
    .operAdd{
        /deep/ .el-dialog {
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: calc(50% + 120px);
            transform: translate(-50%, -50%);
            width: 40%;
        }
    }
    .operEditor{
        /deep/ .el-dialog {
            display: flex;
            flex-direction: column;
            margin: 0 !important;
            position: absolute;
            top: 50%;
            left: calc(50% + 120px);
            transform: translate(-50%, -50%);
            width: 40%;
        }
    } 
}